[color-scheme='dark'] {
  --color-primary: #6ea625;
  --color-primary-dark: #4d7a1c;
  --color-primary-light: #85c02d;
  --color-danger: #dc2626;
  --color-danger-dark: #b91c1c;
  --color-accent-transparent: rgb(110 166 37 / 15%);
  --color-gray-100: #9ca3af;
  --color-gray-300: #75797d;
  --color-gray-500: #5c6064;
  --color-gray-700: #3d4043;
  --color-gray-900: #1f2327;
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #85898d;
  --color-text-disabled: #5c6064;
  --color-border: #3d4043;
  --color-border-hover: #5c6064;
  --color-surface-primary: #181c20;
  --color-surface-secondary: #212529;
  --color-surface-elevated: #1f2327;
  --color-scrollbar-track: #212529;
  --color-scrollbar-thumb: #5c6064;
}
