[color-scheme='light'] {
  --color-primary: #6ea625;
  --color-primary-dark: #4d7a1c;
  --color-primary-light: #85c02d;
  --color-danger: #dc2626;
  --color-danger-dark: #b91c1c;
  --color-accent-transparent: rgb(110 166 37 / 15%);
  --color-gray-100: #f9fafb;
  --color-gray-300: #e5e7eb;
  --color-gray-500: #9ca3af;
  --color-gray-700: #6b7280;
  --color-gray-900: #1a1a1a;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b7280;
  --color-text-disabled: #9ca3af;
  --color-border: #e5e7eb;
  --color-border-hover: #d1d5db;
  --color-surface-primary: #f5f7fa;
  --color-surface-secondary: #fff;
  --color-surface-elevated: #fff;
  --color-scrollbar-track: #f1f5f9;
  --color-scrollbar-thumb: #cbd5e1;
}
