$firm: #86c232;
$header: #1f2529;
$dark-firm: #61892f;
$dark-red: #892f2f;
$bg: #1c2125;
$widget-bg: #272b2d;
$gray: #474b4f;
$light-gray: #6b6e70;
$main-text: #bfbfbf;
$error: #ff4646;
$font-size: 0.7rem;
$comments-animation: #7fbc3236;
