$firm: #86C232;
$dark-firm: #61892F;
$dark-red: #892f2f;
$bg: #1c2125;
$widget-bg: #272b2d;
$gray: #474B4F;
$light-gray: #6B6E70;
$main-text: #bfbfbf;
$error: #ff4646;
$font-size: 0.7rem;
$comments-animation: #7fbc3236;